* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*SCROLLBAR PERSONALIZZATA source W3School*/

/* width */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #fff;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #303030;
}

/*COLORAZIONI HEADER*/

.ms_red {
  color: #e30813;
}

.ms_bg-black {
  background-color: #000;
}

.ms_btn-bg-red {
  background-color: #e30813;
  color: #fff;
}

header a:hover {
  color: #e30813;
  cursor: pointer;
}

/*Main*/

main {
  background-color: #303030;
  height: calc(100vh - 68px);
  overflow-y: auto;
  /*Flip box source w3school*/
  /*regole per far girare il flip-box*/
}

main .ms_col-height {
  height: 342px;
}

main .flip-box {
  background-color: transparent;
  height: 100%;
  width: 100%;
  perspective: 1000px;
}

main .flip-box .flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

main .flip-box .flip-box-inner .flip-box-front,
main .flip-box .flip-box-inner .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

main .flip-box .flip-box-inner .flip-box-back {
  background-color: #000;
  color: #fff;
  transform: rotateY(180deg);
  overflow: auto;
}

main .flip-box .flip-box-inner .poster-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

