/*COLORAZIONI HEADER*/ 
.ms_red{
    color: $tertiaryColor;
}

.ms_bg-black{
    background-color: $primaryColor;
}

.ms_btn-bg-red{
    background-color: $tertiaryColor;
    color: $quaternaryColor;
}

header{
    a:hover{
        color: $tertiaryColor;
        cursor: pointer;
    }
}